/*===================
GLOBAL
===================*/

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.border-bottom {
  background-color: white;
  height: 2px;
  width: 75%;
  margin: 25px 0;
  border:1px solid white;
}

.background-black {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  transition: background-color 0.3s ease-in-out;
}

.center-content {
  margin-left: auto !important;
  margin-right: auto !important;
}

.relative {
  position: relative;
}

.absolute-vertical-horizontal-center {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.no-padding {
  padding: 0;
}

/*===================
NAVIGATION
===================*/

.fixed-navigation {
  position: fixed;
  top:60px;
  right:15px;
  z-index: 5000;
  height:50px;
}

.fixed-navigation .menu-image-container svg {
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  fill: white;
  cursor: pointer;
}

.fixed-navigation .menu-collapse {
  text-align: right;
  display:none;
  opacity:0;
}

.fixed-navigation .menu-collapse ul a li {
  list-style: none;
  margin: 15px 0;
  color: white;
}

.fixed-navigation .menu-collapse ul a {
  text-decoration: none;
}

.fixed-navigation .menu-collapse ul a li:hover {
  font-weight: 600;
}

#menu-text {
  transition: all 0.5s ease-in-out;
}

#menu-line {
  transition: all 0.5s ease-in-out;
}

#polygon {
  opacity:1;
  transition: all 0.3s ease-in-out;
}

/*======================
SECTION - INTRODUCTION
======================*/

.introduction-image {
  background-image: url(../images/index/introduction.jpg);
  background-size: cover;
  background-position: center;
}

.section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.section .logo-container {
  position: absolute;
  top: 50px;
  left:0;
  width: 240px;
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.section .logo-container img {
  width: 150px;
}

.section .introduction-text {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.section .introduction-text h1 {
  font-weight: 700;
  font-size: 2em;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.section .arrow-container {
  position: absolute;
  bottom: 25px;
  left:50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3em;
}

.section .social-links {
  color: white;
  position: absolute;
  bottom:25px;
  right:0;
  z-index: 5000;
}

.section .social-links p {
  transform: rotate(90deg);
  margin-bottom: 50px;
}

.section .social-links .social-icons-container {
  margin-left: 25px;
  margin-bottom:15px;
  width:30px;
  height:30px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
}

.section .social-links .social-icons-container:hover {
  background-color: white;
}

.section .social-links .social-icons-container:hover i {
  color: rgba(0,0,0,0.7);
}

.section .social-links .social-icons-container i {
  color: white;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

/*============================
SECTION - WHO WE ARE
============================*/

.whoweare-image {
  height: auto !important;
  background-image: url(../images/index/whoweare.jpg);
  background-size: cover;
  background-position: center;
}

.whoweare {
  padding: 12% 5%;
}

.whoweare h1 {
  color: white;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.whoweare img {
  width:225px;
  display: block;
  padding: 15px;
  margin-bottom:10px;
}

.whoweare p {
  color: white;
}

/*============================
BUSINESS ACTIVITIES
============================*/

.business-activities {
  background-color: #eee;
  position: relative;
  height: 575px;
}

.business-activities h1 {
  color: rgba(0,0,0,0.7);
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 35px 0;
}

.business-activities .business-image-container {
  position: absolute;
  width: auto;
  left:50%;
  top:50%;
  transform: translate(-50%, 23%);
}

.business-activities .business-image-container .business-image-container-inner {
  position: relative;
  width: 275px;
  height: 175px;
  background-color: rgba(0,0,0,0.5);
  margin-bottom: 10px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

.business-activities .business-image-container .business-image-container-inner:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#business1 {
  background-image: url(../images/index/business1.jpg);
  background-size: cover;
  background-position: center;
}

#business2 {
  background-image: url(../images/index/business2.jpg);
  background-size: cover;
  background-position: center;
}

#business1:hover {
  background-color: rgba(0,0,0,0.5);
}

#business2:hover {
  background-color: rgba(0,0,0,0.5);
}

.business1-image-text {
  padding: 15px;
}

.business1-image-text h5 {
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}

.business1-image-text p {
  color: black;
  font-weight: 600;
}

.business1-image-text p a span {
  color: white;
}

.business2-image-text {
  padding: 15px;
}

.business2-image-text h5 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.business2-image-text p {
  color: white;
  font-weight: 600;
}

.business2-image-text p a span {
  color: yellow;
}

/*============================
SECTION: BBU SYSTEM
============================*/

.bbu-system {
  height: auto !important;
  background-image: url(../images/index/bbu.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px 15px;
}

.bbu-system h1, h5, p, ul {
  color: white;
}

.bbu-system h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 600;
}

.bbu-system h5 {
  font-weight: 600;
  text-transform: uppercase;
}

/*============================
SECTION: ENGINEERING SYSTEMS
============================*/

.engineering {
  background-image: url(../images/index/engineering.jpg);
  background-size: cover;
  background-position: center;
}

.engineering {
  height: auto !important;
  padding: 50px 15px;
}

.engineering h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 600;
}

/*============================
SECTION: OUR VISION
============================*/

.our-mission {
  height: auto;
  padding: 50px 15px;
  background-color: #eee;
}

.our-mission .owl-carousel .mission h2 {
  font-weight: 600;
}

.our-mission .owl-carousel .mission p {
  color: black;
  line-height: 30px;
}

/*============================
SECTION: GALLERY
============================*/
.gallery {
  height: auto;
  background-color: #eee;
  padding-bottom: 25px;
}

.gallery1 img {
  border-radius: 15px;
}

.gallery2 img {
  border-radius: 15px;
}

.gallery h5 {
  margin: 25px 0;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: rgba(0,0,0,0.8);
}

.gallery-bg-1 {
  background-image: url(../images/index/gallery1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

.gallery-bg-2 {
  background-image: url(../images/index/gallery2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  position: relative;
}

.gallery-bg-2 h1 {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.gallery-bg-3 {
  background-image: url(../images/index/gallery3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
}

/*============================
SECTION: CONTACT
============================*/

.contact {
  height: auto;
  background-image: url(../images/index/introduction.jpg);
  background-size: cover;
  background-position: center;
}

.contact p {
  line-height: 20px;
}

.contact-section {
  margin-bottom: 50px;
}

.contact h1 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin: 25px 0;
  font-size: 2em;
  color: white;
}

.contact h5 {
  font-weight: 600;
}

.contact button {
  margin: 25px 0;
}


.icon-container {
  position: relative;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: 25px;
}

.icon-container i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Footer */

.footer-links-container {
  border-radius: 15px;
  background-color: rgba(0,0,0,0.7);
  padding: 15px 15px 0 15px;
  margin-bottom: 25px;
}

.footer-links {
  background-color: transparent;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.footer-links:hover {
  background-color: rgba(255,255,255,0.5);
}

.footer-links p {
  text-transform: uppercase;
  font-weight: bold;
}

.footer-links p:hover {
  font-weight: bold;
}

.footer {
  margin: 25px 0;
  color: white;
  font-size: 0.7em;
}

.footer-social-icons {
  text-align: right;
}

.footer-social-icons a {
  color: white;
}

.footer-social-icons a:hover {
  color: blue;
}

.footer-social-icons a:nth-of-type(2) {
  margin-left: 15px;
}


/*============================
KEYFRAMES & ASSOCIATED CLASSES
============================*/

.animation-fadeindown {
  animation: fadeInDown 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.animation-fadeoutup {
  animation: fadeOutUp 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  0% {
    opacity:0;
    transform: translateY(-50px);
  }

  100% {
    opacity:1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity:1;
    transform: translateY(0px);
  }

  100% {
    opacity:0;
    transform: translateY(-50px);
  }
}
